pip==21.3.1
django-bootstrap-form==3.4
django-crispy-forms==1.10.0
django-easy-audit==1.3.2
django-filter==2.4.0
django-rest-auth==0.9.5
djangorestframework==3.12.2
psycopg2-binary==2.8.6
django-tempus-dominus==5.1.2.13
gunicorn==20.0.4
drf-yasg==1.20.0
django-import-export==2.5.0
django-auth-adfs==1.6.0
django-oidc-provider==0.7.0
django-oauth-toolkit==1.5.0
Django==3.2.15
djangorestframework-camel-case==1.2.0
django-sql-explorer==2.2
drf-api-logger==1.0.8
django-bootstrap-datepicker-plus==4.0.0
django_jsonform==2.10.1
fiscalyear==0.4.0
python-dateutil==2.8.2
